<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="BookstoreManagementApp_Final_.Properties.Settings.EzManageConnectionString"
        connectionString="Data Source=ACER-NITRO-5;Initial Catalog=EzManage;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
